body {
  font-family: sans-serif;
  background-color: antiquewhite;
}
#app {
  width: 300px;
  margin: 0 auto;
}
input.colorValue {
  height: 30px;
  width: 200px;
  border-radius: 3px;
  border: 1px solid lightgray;
  padding: 5px 10px;
  margin-bottom: 5px;
}
